@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    .responsive-table table, 
    .responsive-table thead, 
    .responsive-table tbody, 
    .responsive-table th, 
    .responsive-table td, 
    .responsive-table tr { 
        display: block; 
        padding: 0px;
        margin: 0px !important;
        width: 100% !important;
    }

    .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
        border: 1px solid #D0D0D0;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive-table thead tr { 
        position: absolute !important;
        top: -9999px;
        left: -9999px;
    }

    .responsive-table tr { border: 1px solid #ccc; }
    .responsive-table td { 
        /* Behave  like a "row" */
        border: none;
        padding-left: 40% !important; 
        border-bottom: 1px solid #eee; 
        position: relative; 
        white-space: normal;
        text-align:left;
        min-height: 20px;
        width: 59.3% !important;
    }

    .responsive-table td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    .responsive-table td:before { content: attr(data-title); margin-top: -6px;}
    .responsive-table tfoot{display: none;}
}

//SCROLL table
@media only screen and (max-width: 800px) {

    .responsive-table-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
    .responsive-table-scroll * html .cf { zoom: 1; }
    .responsive-table-scroll *:first-child+html .cf { zoom: 1; }

    .responsive-table-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }

    .responsive-table-scroll th,
    .responsive-table-scroll td { margin: 0; vertical-align: top; padding: 2px !important; }
    .responsive-table-scroll th { text-align: left; }

    .responsive-table-scroll table { display: block; position: relative; width: 100%; }
    .responsive-table-scroll thead { display: block; float: left; }
    .responsive-table-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
    .responsive-table-scroll thead tr { display: block; }
    .responsive-table-scroll th { display: block; text-align: right; }
    .responsive-table-scroll tbody tr { display: inline-block; vertical-align: top; }
    .responsive-table-scroll td { display: block; min-height: 1.25em; text-align: left; }

    /* sort out borders */
    .responsive-table-scroll th { border-bottom: 0; border-left: 0; }
    .responsive-table-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
    .responsive-table-scroll tbody tr { border-left: 1px solid #babcbf; }
    .responsive-table-scroll th:last-child,
    .responsive-table-scroll td:last-child { border-bottom: 1px solid #babcbf; }
}
